
/* ---- Home page ---- */

.home-page-row {
    padding: 50px;
}
.home-page-bg{
    background-image: url("discovery-3721111_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#home-page-header {
    font-size: 5rem !important;
    text-shadow: 2px 2px 5px black;
}

.page-text-onbg {
    text-shadow: 2px 2px 5px black;
}

label {
    font-size: 2em !important;
}

.container-fluid {
    min-height: 100vh;
}

/* ---- /Home page ---- */

/* ---- Questions page ---- */

.questions-page-bg{
    background-image: url("aaron-burden-261332-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row .questions-page-row .justify-content-center {
    padding: 6vh 50px;
}

#game-page-header {
    font-size: 5rem !important;
}

.sub-headers {
    font-size: 2.5rem !important;
}

.row.questions-page-row.justify-content-center {
    padding: 20px 0px;
    margin: 0px 40px;
    background: rgba(0, 0, 0, 0.37);
}

.row.questions-page-row.justify-content-center.header-row{
        padding-top: 40px;
}

/* ---- Questions page ---- */

#endgame-page-header {
    font-size: 4rem !important;
}

.endgam-page-bg {
    background-image: url("ocean-2051859_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---- End Game page ---- */



