<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Me Timbers! Game questions</title>
</head>
<body>
    <h1>Thanks for playing! {{ username }} </h1>
    <h2>Your Final score is {{ current_score }}</h2>
    <table>
        <tbody>
                <tr>
                  <td><h3>>High Scorers!</h3></td>
                  <td><h3>What they Scored!</h3></td>
                </tr>
            {% for row_index in range(10) %}
                <tr>
                  <td>{{ highscored_users[row_index] }}</td>
                  <td>{{ highscores_users[row_index] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>