<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Me Timbers!</title>
    
    <!-- Bootstrap Scripts and Style's -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- /Bootstrap Scripts and Style's/ -->
    
    <!-- Local CSS Files -->
    
    <!-- Fix for weird favicon ico bug =/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">
    
    <!-- /Local CSS Files/ -->
    
</head>
<body>
    
    <div class="container-fluid home-page-bg">
        <div class="row page-header-bg justify-content-center home-page-row">
            <div class="col-xs-6 page-header text-center text-white">
                <h1 class="page-header" id="home-page-header">Shiver Me Timbers!!!</br>Another land lubber has come to steal some treasure!</h1>
            </div>
        </div>
        
        <div class="row text-center justify-content-center home-page-row">
            <div class="col-xs-4 text-white page-text-onbg">
                <div class="login-form">
                    <h2 class="sub-headers">To start the game please enter your name</h2>
                    <form method="POST">
                        <label for="username">Enter yer name if you dare:</label>
                        <input type="text" id="username" name="username"/>
                        <button class="btn btn-secondary">Start the Game!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>